<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAARTHI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FetchDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".Verification"
            android:exported="false" />
        <activity
            android:name=".PredictCasePage"
            android:exported="false" />
        <activity
            android:name=".Courtorder"
            android:exported="false" />
        <activity
            android:name=".NextHearing"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".generalinfo"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".viewpdfjudgecaseinfo"
            android:exported="false" />
        <activity
            android:name=".upload"
            android:exported="false" />
        <activity android:name=".userlist" />
        <activity
            android:name=".laymenhomepg"
            android:exported="false" />
        <activity
            android:name=".policehomepg"
            android:exported="false" />
        <activity
            android:name=".judgehomepg"
            android:exported="false" />
        <activity
            android:name=".policelogin"
            android:exported="false" />
        <activity
            android:name=".policereg"
            android:exported="false" />
        <activity
            android:name=".laymenreg"
            android:exported="false" />
        <activity
            android:name=".laymenlogin"
            android:exported="false" />
        <activity
            android:name=".judgeregpage"
            android:exported="false" />
        <activity
            android:name=".judgelogin"
            android:exported="false" />
        <activity
            android:name=".mainpg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>